<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>G.C.Oeder</title>
    <style>
        * {
            box-sizing: border-box;
        }
        * {
            background-color: #ffffec
        }


        /* Create two equal columns that floats next to each other */
        .column {
            float: left;
            width: 45%;
            padding: 10px;
        }

        p {
            font-size: 20px;
            text-align: left;
        }

        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        h1 {
            text-align: center;
        }

        div {
            text-align: left;
        }
    </style>


</head>

<body text-align: left>

    @*<div text-alig="center">
        <h1>Georg Christian Oeder</h1>
        <hr>
    </div>
    <div>
        <p>
            <a href="index.html">Forside</a>          <a href="breve.html">Breve</a>          <a href="kontakt.html">Kontakt</a>          <a href="stamtræer.html">Stamtræ</a>
        </p>
        <hr>
    </div>*@

    <p>
        <font size="6">Efterkommere af Nicolai Gottfried Oeder</font><br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <br>
        &nbsp;&nbsp;&nbsp; <br>
        &nbsp;&nbsp;&nbsp; 1&nbsp;&nbsp;&nbsp;&nbsp; Nicolai Gottfreid Oeder
        &nbsp;&nbsp;&nbsp; 1755 - 1799<br>
        .&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; +Mette Kirstine Præst&nbsp;&nbsp;&nbsp; 1762
        - 1843<br>
        ........&nbsp;&nbsp;&nbsp; 2&nbsp;&nbsp;&nbsp;&nbsp; Niels Hansen Oeder
        &nbsp;&nbsp;&nbsp; 1794 -<br>
        ............&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; +Martine Rohde&nbsp;&nbsp;&nbsp; <br>
        ...................&nbsp;&nbsp;&nbsp; 3&nbsp;&nbsp;&nbsp;&nbsp; Caroline Mathildhe Oeder
        &nbsp;&nbsp;&nbsp; 1831 -<br>
        .......................&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; +Peter Julius Gigas
        &nbsp;&nbsp;&nbsp; <br>
        ........&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; *2nd Wife of Niels Hansen Oeder:
        &nbsp;&nbsp;&nbsp; <br>
        ............&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; +Sophie Chalotte Riemann
        &nbsp;&nbsp;&nbsp; <br>
        ...................&nbsp;&nbsp;&nbsp; 3&nbsp;&nbsp;&nbsp;&nbsp; Flora Nielsine Oeder
        &nbsp;&nbsp;&nbsp; 1840 -<br>
        ........&nbsp;&nbsp;&nbsp; 2&nbsp;&nbsp;&nbsp;&nbsp; Johan August Oeder
        &nbsp;&nbsp;&nbsp; 1790 - 1830<br>
        ............&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; +Abelone Justesdatter Christensen
        &nbsp;&nbsp;&nbsp; 1783 - 1830<br>
        ...................&nbsp;&nbsp;&nbsp; 3&nbsp;&nbsp;&nbsp;&nbsp; Adolf Hansen Oeder
        &nbsp;&nbsp;&nbsp; 1828 -<br>
        .......................&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; +Karen Marie Jensdatter
        &nbsp;&nbsp;&nbsp; 1836 - 1859<br>
        ...................&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; *2nd Wife of Adolf Hansen
        Oeder:&nbsp;&nbsp;&nbsp; <br>
        .......................&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; +Medea Nielsein Dinesen
        &nbsp;&nbsp;&nbsp; 1828 - 1888<br>
        ..............................&nbsp;&nbsp;&nbsp; 4&nbsp;&nbsp;&nbsp;&nbsp; Hans August
        Oeder&nbsp;&nbsp;&nbsp; 1861 -<br>
        ..................................&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; +Henriette
        Josefine Eklund&nbsp;&nbsp;&nbsp; 1866 -<br>
        ..............................&nbsp;&nbsp;&nbsp; 4&nbsp;&nbsp;&nbsp;&nbsp; Emma Georgia
        Oeder&nbsp;&nbsp;&nbsp; 1863 -<br>
        ..............................&nbsp;&nbsp;&nbsp; 4&nbsp;&nbsp;&nbsp;&nbsp; Jens Peder
        Nicolai Georg Oeder&nbsp;&nbsp;&nbsp; 1866 - 1922<br>
        ..................................&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; +Anne Helene
        Kirstine Madum&nbsp;&nbsp;&nbsp; 1868 - 1928<br>
        .........................................&nbsp;&nbsp;&nbsp; 5
        &nbsp;&nbsp;&nbsp;&nbsp; Karen Helene Medea Oeder&nbsp;&nbsp;&nbsp; 1889 -<br>
        .............................................
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; +Peter Rasmussen&nbsp;&nbsp;&nbsp; <br>
        ....................................................&nbsp;&nbsp;&nbsp; 6
        &nbsp;&nbsp;&nbsp;&nbsp; Emmerly Rasmussen&nbsp;&nbsp;&nbsp; <br>
        .........................................&nbsp;&nbsp;&nbsp; 5
        &nbsp;&nbsp;&nbsp;&nbsp; Jørgen Adolf Oeder&nbsp;&nbsp;&nbsp; 1889 -<br>
        .............................................
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; +Anny Agnethe&nbsp;&nbsp;&nbsp; <br>
        .........................................&nbsp;&nbsp;&nbsp; 5&nbsp;&nbsp;&nbsp;&nbsp; Poul
        Georg Oeder&nbsp;&nbsp;&nbsp; 1891 - 1950<br>
        .............................................
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; +Laura Emilie Nielsen&nbsp;&nbsp;&nbsp; 1890 -
        1970<br>
        ....................................................&nbsp;&nbsp;&nbsp; 6
        &nbsp;&nbsp;&nbsp;&nbsp; Poul Verner Oeder&nbsp;&nbsp;&nbsp; 1915 -<br>
        ........................................................
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; +Grethe Nielsen&nbsp;&nbsp;&nbsp; 1916 -<br>
        ..............................................................&nbsp;&nbsp;&nbsp; 7
        &nbsp;&nbsp;&nbsp;&nbsp; Bente Oeder&nbsp;&nbsp;&nbsp; 1944 -<br>
        ..............................................................&nbsp;&nbsp;&nbsp; 7
        &nbsp;&nbsp;&nbsp;&nbsp; John Oeder&nbsp;&nbsp;&nbsp; 1945 -<br>
        ....................................................&nbsp;&nbsp;&nbsp; 6
        &nbsp;&nbsp;&nbsp;&nbsp; Bent Karlo Oeder&nbsp;&nbsp;&nbsp; 1917 -<br>
        ........................................................
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; +Margrethe Hansen&nbsp;&nbsp;&nbsp; <br>
        ..............................................................&nbsp;&nbsp;&nbsp; 7
        &nbsp;&nbsp;&nbsp;&nbsp; Jørgen Oeder&nbsp;&nbsp;&nbsp; 1949 -<br>
        ..............................................................&nbsp;&nbsp;&nbsp; 7
        &nbsp;&nbsp;&nbsp;&nbsp; Finn Oeder&nbsp;&nbsp;&nbsp; 1957 -<br>
        ..............................................................&nbsp;&nbsp;&nbsp; 7
        &nbsp;&nbsp;&nbsp;&nbsp; Benny Oeder&nbsp;&nbsp;&nbsp; 1959 -<br>
        ....................................................&nbsp;&nbsp;&nbsp; 6
        &nbsp;&nbsp;&nbsp;&nbsp; Inger Grethe Oeder&nbsp;&nbsp;&nbsp; 1919 -<br>
        ........................................................
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; +Peter Thunø&nbsp;&nbsp;&nbsp; 1912 -<br>
        ..............................................................&nbsp;&nbsp;&nbsp; 7
        &nbsp;&nbsp;&nbsp;&nbsp; Lissie Thunø&nbsp;&nbsp;&nbsp; 1944 -<br>
        ..............................................................&nbsp;&nbsp;&nbsp; 7
        &nbsp;&nbsp;&nbsp;&nbsp; Birgit Thunø&nbsp;&nbsp;&nbsp; 1948 -<br>
        ..............................................................&nbsp;&nbsp;&nbsp; 7
        &nbsp;&nbsp;&nbsp;&nbsp; Jørn Thunø&nbsp;&nbsp;&nbsp; 1954 -<br>
        ....................................................&nbsp;&nbsp;&nbsp; 6
        &nbsp;&nbsp;&nbsp;&nbsp; Rita Harriet Oeder&nbsp;&nbsp;&nbsp; 1922 -<br>
        ........................................................
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; +Erik Oluf Nielsen&nbsp;&nbsp;&nbsp; 1920 -<br>
        ..............................................................&nbsp;&nbsp;&nbsp; 7
        &nbsp;&nbsp;&nbsp;&nbsp; Jytte Rita Nielsen&nbsp;&nbsp;&nbsp; 1946 - 1996<br>
        ..................................................................
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; +Tommy Petersen&nbsp;&nbsp;&nbsp; 1942 -<br>
        .........................................................................
        &nbsp;&nbsp;&nbsp; 8&nbsp;&nbsp;&nbsp;&nbsp; stig Petersen&nbsp;&nbsp;&nbsp; 1968 -<br>
        .............................................................................
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; +Karin Schürenberg&nbsp;&nbsp;&nbsp; 1967 -<br>
        ....................................................................................
        &nbsp;&nbsp;&nbsp; 9&nbsp;&nbsp;&nbsp;&nbsp; Kimberly Schürenberg Petersen
        &nbsp;&nbsp;&nbsp; 1995 -<br>
        ....................................................................................
        &nbsp;&nbsp;&nbsp; 9&nbsp;&nbsp;&nbsp;&nbsp; Christopher Schürenberg Petersen
        &nbsp;&nbsp;&nbsp; 1998 -<br>
        .........................................................................
        &nbsp;&nbsp;&nbsp; 8&nbsp;&nbsp;&nbsp;&nbsp; Tine Petersen&nbsp;&nbsp;&nbsp; 1971 -<br>
        ....................................................&nbsp;&nbsp;&nbsp; 6
        &nbsp;&nbsp;&nbsp;&nbsp; Anne Vera Oeder&nbsp;&nbsp;&nbsp; 1926 -<br>
        ........................................................
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; +Ib Mejer&nbsp;&nbsp;&nbsp; 1924 -<br>
        ..............................................................&nbsp;&nbsp;&nbsp; 7
        &nbsp;&nbsp;&nbsp;&nbsp; Lone Mejer&nbsp;&nbsp;&nbsp; 1954 -<br>
        ..............................................................&nbsp;&nbsp;&nbsp; 7
        &nbsp;&nbsp;&nbsp;&nbsp; Anne Mejer&nbsp;&nbsp;&nbsp; 1956 -<br>
        ....................................................&nbsp;&nbsp;&nbsp; 6
        &nbsp;&nbsp;&nbsp;&nbsp; Kjeld Henning Oeder&nbsp;&nbsp;&nbsp; 1928 -<br>
        ........................................................
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; +Siv Blom&nbsp;&nbsp;&nbsp; 1929 -<br>
        ..............................................................&nbsp;&nbsp;&nbsp; 7
        &nbsp;&nbsp;&nbsp;&nbsp; Tony Oeder&nbsp;&nbsp;&nbsp; 1954 -<br>
        ..............................................................&nbsp;&nbsp;&nbsp; 7
        &nbsp;&nbsp;&nbsp;&nbsp; Mical Oeder&nbsp;&nbsp;&nbsp; 1955 -<br>
        ..............................................................&nbsp;&nbsp;&nbsp; 7
        &nbsp;&nbsp;&nbsp;&nbsp; Malte Oeder&nbsp;&nbsp;&nbsp; 1957 -<br>
        ..............................................................&nbsp;&nbsp;&nbsp; 7
        &nbsp;&nbsp;&nbsp;&nbsp; Helene Oeder&nbsp;&nbsp;&nbsp; 1964 -<br>
        .........................................&nbsp;&nbsp;&nbsp; 5&nbsp;&nbsp;&nbsp;&nbsp; Mary
        Oeder&nbsp;&nbsp;&nbsp; <br>
        .............................................
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; +Peter Deluran&nbsp;&nbsp;&nbsp; <br>
        ....................................................&nbsp;&nbsp;&nbsp; 6
        &nbsp;&nbsp;&nbsp;&nbsp; Vilhelm Deluran&nbsp;&nbsp;&nbsp; <br>
        .........................................&nbsp;&nbsp;&nbsp; 5
        &nbsp;&nbsp;&nbsp;&nbsp; Agnes Oeder&nbsp;&nbsp;&nbsp; <br>
        .............................................
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; +Knud Ib Andersen&nbsp;&nbsp;&nbsp; <br>
        ..............................&nbsp;&nbsp;&nbsp; 4&nbsp;&nbsp;&nbsp;&nbsp; Adolfine Medea
        Oeder&nbsp;&nbsp;&nbsp; 1867 -<br>
        ..............................&nbsp;&nbsp;&nbsp; 4&nbsp;&nbsp;&nbsp;&nbsp; Oskar Sigfried
        Oeder&nbsp;&nbsp;&nbsp; 1869 -<br>
        ...................&nbsp;&nbsp;&nbsp; 3&nbsp;&nbsp;&nbsp;&nbsp; Nicolai Gottfried Oeder
        &nbsp;&nbsp;&nbsp; 1813 - 1918<br>
        .......................&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; +Karen Elise Larsen
        &nbsp;&nbsp;&nbsp; <br>
        ..............................&nbsp;&nbsp;&nbsp; 4&nbsp;&nbsp;&nbsp;&nbsp; Augusta
        Kirstine Oeder&nbsp;&nbsp;&nbsp; 1861 -<br>
        ..................................&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; +Carl Frantz
        Høpfner&nbsp;&nbsp;&nbsp; <br>
        .........................................&nbsp;&nbsp;&nbsp; 5&nbsp;&nbsp;&nbsp;&nbsp; Carl
        Vilhelm Høpfner&nbsp;&nbsp;&nbsp; <br>
        .........................................&nbsp;&nbsp;&nbsp; 5
        &nbsp;&nbsp;&nbsp;&nbsp; Elise Høpfner&nbsp;&nbsp;&nbsp; <br>
        .........................................&nbsp;&nbsp;&nbsp; 5
        &nbsp;&nbsp;&nbsp;&nbsp; Tertia Vilhelmine Augusta Høpfner&nbsp;&nbsp;&nbsp; 1896 - 1976<br>
        .............................................
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; +Svend August Sigvardt&nbsp;&nbsp;&nbsp; 1892 -
        1982<br>
        ....................................................&nbsp;&nbsp;&nbsp; 6
        &nbsp;&nbsp;&nbsp;&nbsp; Ulla Vibeke Sigvardt&nbsp;&nbsp;&nbsp; <br>
        ........................................................
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; +Dahl&nbsp;&nbsp;&nbsp; <br>
        ....................................................&nbsp;&nbsp;&nbsp; 6
        &nbsp;&nbsp;&nbsp;&nbsp; Niels Henning Sigvardt&nbsp;&nbsp;&nbsp; <br>
        ....................................................&nbsp;&nbsp;&nbsp; 6
        &nbsp;&nbsp;&nbsp;&nbsp; Vagn Otto Sigvardt&nbsp;&nbsp;&nbsp; <br>
        .........................................&nbsp;&nbsp;&nbsp; 5
        &nbsp;&nbsp;&nbsp;&nbsp; Melita Høpfner&nbsp;&nbsp;&nbsp; <br>
        .............................................
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; +Jansen&nbsp;&nbsp;&nbsp; <br>
        .........................................&nbsp;&nbsp;&nbsp; 5
        &nbsp;&nbsp;&nbsp;&nbsp; Villy Vilhelmine Høpfner&nbsp;&nbsp;&nbsp; <br>
        .............................................
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; +Petersen&nbsp;&nbsp;&nbsp; <br>
        ..............................&nbsp;&nbsp;&nbsp; 4&nbsp;&nbsp;&nbsp;&nbsp; Johanne Oeder
        &nbsp;&nbsp;&nbsp; 1869 -<br>
        ...................&nbsp;&nbsp;&nbsp; 3&nbsp;&nbsp;&nbsp;&nbsp; Just Hansen Oeder
        &nbsp;&nbsp;&nbsp; 1815 -<br>
        ...................&nbsp;&nbsp;&nbsp; 3&nbsp;&nbsp;&nbsp;&nbsp; Niels Rasmussen Oeder
        &nbsp;&nbsp;&nbsp; 1821 -<br>
        ...................&nbsp;&nbsp;&nbsp; 3&nbsp;&nbsp;&nbsp;&nbsp; Elise Kirstine Oeder
        &nbsp;&nbsp;&nbsp; 1817 -<br>
        .......................&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; +Sivert Georg Bjerager
        &nbsp;&nbsp;&nbsp; <br>
        ...................&nbsp;&nbsp;&nbsp; 3&nbsp;&nbsp;&nbsp;&nbsp; Medea Emilie Oeder
        &nbsp;&nbsp;&nbsp; 1827 -<br>
        .......................&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; +Jens Christian
        Christensen&nbsp;&nbsp;&nbsp; <br>
        ...................&nbsp;&nbsp;&nbsp; 3&nbsp;&nbsp;&nbsp;&nbsp; Hendrich Nielsen Oeder
        &nbsp;&nbsp;&nbsp; 1819 - 1884<br>
        .......................&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; +Oline Lønge
        &nbsp;&nbsp;&nbsp; 1822 -<br>
        ..............................&nbsp;&nbsp;&nbsp; 4&nbsp;&nbsp;&nbsp;&nbsp; Olivia Chalotte
        Abelone Oeder&nbsp;&nbsp;&nbsp; 1847 - 1916<br>
        ..................................&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; +Christian
        Valdemar Madsen&nbsp;&nbsp;&nbsp; 1837 -<br>
        .........................................&nbsp;&nbsp;&nbsp; 5&nbsp;&nbsp;&nbsp;&nbsp; Hans
        Christian Hendrik Madsen&nbsp;&nbsp;&nbsp; 1874 - 1938<br>
        .............................................
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; +Thrine Marie Hansen&nbsp;&nbsp;&nbsp; 1872 -
        1904<br>
        ....................................................&nbsp;&nbsp;&nbsp; 6
        &nbsp;&nbsp;&nbsp;&nbsp; Aage Marius Madsen&nbsp;&nbsp;&nbsp; 1904 - 1964<br>
        ........................................................
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; +Karla Chalotte Hedvig Hansen
        &nbsp;&nbsp;&nbsp; 1904 - 1997<br>
        ..............................................................&nbsp;&nbsp;&nbsp; 7
        &nbsp;&nbsp;&nbsp;&nbsp; Jørgen Øder Madsen Madsen&nbsp;&nbsp;&nbsp; 1935 -<br>
        ..................................................................
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; +Grete Ellen Pedersen&nbsp;&nbsp;&nbsp; 1944 -<br>
        .........................................................................
        &nbsp;&nbsp;&nbsp; 8&nbsp;&nbsp;&nbsp;&nbsp; Jette Øder Madsen&nbsp;&nbsp;&nbsp; <br>
        .............................................................................
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; +Jesper Rose&nbsp;&nbsp;&nbsp; <br>
        ....................................................................................
        &nbsp;&nbsp;&nbsp; 9&nbsp;&nbsp;&nbsp;&nbsp; Amalie Øder Rose&nbsp;&nbsp;&nbsp; <br>
        ....................................................................................
        &nbsp;&nbsp;&nbsp; 9&nbsp;&nbsp;&nbsp;&nbsp; Caroline Øder Rose&nbsp;&nbsp;&nbsp; <br>
        .........................................................................
        &nbsp;&nbsp;&nbsp; 8&nbsp;&nbsp;&nbsp;&nbsp; Jens Øder Madsen&nbsp;&nbsp;&nbsp; <br>
        .............................................................................
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; +Christina Kjær&nbsp;&nbsp;&nbsp; <br>
        ....................................................................................
        &nbsp;&nbsp;&nbsp; 9&nbsp;&nbsp;&nbsp;&nbsp; Emilie Øder Madsen&nbsp;&nbsp;&nbsp; <br>
        .........................................................................
        &nbsp;&nbsp;&nbsp; 8&nbsp;&nbsp;&nbsp;&nbsp; Dorte Øder Madsen&nbsp;&nbsp;&nbsp; <br>
        .............................................................................
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; +Mogens Eriksen&nbsp;&nbsp;&nbsp; <br>
        ....................................................................................
        &nbsp;&nbsp;&nbsp; 9&nbsp;&nbsp;&nbsp;&nbsp; Magnus Øder Eriksen&nbsp;&nbsp;&nbsp; <br>
        ....................................................................................
        &nbsp;&nbsp;&nbsp; 9&nbsp;&nbsp;&nbsp;&nbsp; Malte Øder Eriksen&nbsp;&nbsp;&nbsp; <br>
        ....................................................................................
        &nbsp;&nbsp;&nbsp; 9&nbsp;&nbsp;&nbsp;&nbsp; Jeppe Øder Eriksen&nbsp;&nbsp;&nbsp; <br>
        ..............................&nbsp;&nbsp;&nbsp; 4&nbsp;&nbsp;&nbsp;&nbsp; August Thomas
        Oeder&nbsp;&nbsp;&nbsp; 1848 -<br>
        ..............................&nbsp;&nbsp;&nbsp; 4&nbsp;&nbsp;&nbsp;&nbsp; Joseph Emil
        Oeder&nbsp;&nbsp;&nbsp; 1851 -<br>
        ..............................&nbsp;&nbsp;&nbsp; 4&nbsp;&nbsp;&nbsp;&nbsp; Elenora
        Elisabeth Oeder&nbsp;&nbsp;&nbsp; 1853 -<br>
        ..............................&nbsp;&nbsp;&nbsp; 4&nbsp;&nbsp;&nbsp;&nbsp; Alfred Nicolai
        Oeder&nbsp;&nbsp;&nbsp; 1856 -<br>
        ..............................&nbsp;&nbsp;&nbsp; 4&nbsp;&nbsp;&nbsp;&nbsp; Alfredine
        Caroline Oeder&nbsp;&nbsp;&nbsp; 1857 -<br>
        ..............................&nbsp;&nbsp;&nbsp; 4&nbsp;&nbsp;&nbsp;&nbsp; Lydia Medes
        Oeder&nbsp;&nbsp;&nbsp; 1861 -<br>
        ..............................&nbsp;&nbsp;&nbsp; 4&nbsp;&nbsp;&nbsp;&nbsp; Gotfred Hansen
        Oeder&nbsp;&nbsp;&nbsp; 1863 - 1937<br>
        ..................................&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; +Anne Johanne
        Knudsen&nbsp;&nbsp;&nbsp; 1861 - 1935<br>
        .........................................&nbsp;&nbsp;&nbsp; 5
        &nbsp;&nbsp;&nbsp;&nbsp; Elisabeth Oeder&nbsp;&nbsp;&nbsp; 1900 - 1948<br>
        ....................................................&nbsp;&nbsp;&nbsp; 6
        &nbsp;&nbsp;&nbsp;&nbsp; Birthe Rosa Oeder&nbsp;&nbsp;&nbsp; 1930 -<br>
        ........................................................
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; +Larsen&nbsp;&nbsp;&nbsp; <br>
        ..............................................................&nbsp;&nbsp;&nbsp; 7
        &nbsp;&nbsp;&nbsp;&nbsp; Peter O. Harrieshøj Larsen&nbsp;&nbsp;&nbsp; <br>
        ..............................&nbsp;&nbsp;&nbsp; 4&nbsp;&nbsp;&nbsp;&nbsp; Carl Georg
        Oeder&nbsp;&nbsp;&nbsp; 1864 -<br>
        ........&nbsp;&nbsp;&nbsp; 2&nbsp;&nbsp;&nbsp;&nbsp; Dorte Elisabeth Oeder
        &nbsp;&nbsp;&nbsp; 1792 -<br>
        ........&nbsp;&nbsp;&nbsp; 2&nbsp;&nbsp;&nbsp;&nbsp; Hendrich Christian Oeder
        &nbsp;&nbsp;&nbsp; 1796 -<br>
        <br>
    </p>
    <footer>
        <hr>

    </footer>
</body>
</html>