<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>G.C.Oeder</title>
    

</head>

<body>

    @*<div text-alig="center">
            <h1>Georg Christian Oeder</h1>
            <hr>
        </div>
        <div>
            <p>
                <a href="index.html">Forside</a>          <a href="breve.html">Breve</a>          <a href="kontakt.html">Kontakt</a>          <a href="stamtræer.html">Stamtræ</a>
            </p>
            <hr>
        </div>*@



    <h1>Breve</h1><br /><br />

    <div class="row">
        <div class="column">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="BrevCHE">Brev fra Charlotte Hedvig Ericius til hendens broder</a><br />
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Bugge">Breve til Thomas Bugge fra Oeder </a><br />
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="linne_da">Breve til Carl von Linné fra Oeder </a><br />
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ukendt">Brev til ukendt fra Oeder </a><br />
        </div>
        <div class="column">
            <img src="@("/img/ranunkel.png")"  class="center" style="width:50%">

        </div>
    </div>


</body>
</html>