@{
    ViewData["Title"] = "Home Page";
}

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>G.C.Oeder</title>
    <style>
        * {
            box-sizing: border-box;
        }

        * {
            background-color: #ffffec
        }
        /* Create two equal columns that floats next to each other */
        .column {
            float: left;
            width: 45%;
            padding: 10px;
        }

        p {
            font-size: 20px;
        }

        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        h1 {
            text-align: center;
        }

        p {
            text-align: center;
        }

        div {
            text-align: center;
        }
    </style>


</head>

<body>

    @*<div text-alig="center">
        <h1>Georg Christian Oeder</h1>
        <hr>*@
    @*</div>
    <div>
        
       
    </div>*@


    <!-- Wrap the rest of the page in another container to center all the content. -->



    <div class="row">
        <div class="column" align="center">
            <img src="@("/img/oeder.gif")" alt="G.C.Oeder" class="right"> 
        </div>
        <div class="column">
            @*<h1>Georg Christian Oeder</h1>*@
            <p>Georg Christian Oeder, dr.med og botaniker,  blev hentet til Danmark af J.H.E. Bernstorff , på anbefaling af den tyske naturforsker Albrecht von Haller, han var direktør for den anden botaniske have og samlede fra 1761-1771 planter til de første 10 hæfter med 600 tavler til flora danica.</p>
            <hr />


            <p>Denne site fortæller hans historie, ved hjælp af Ernst Willumsen´s manuskript “Georg Christian Oeder. Et liv – med flere end en indsats”.</p><p> Gerhard Anton von Halem´s ” Andenken an Oeder” oversat til dansk af Ernst Willumsen.</p> <p>
                Chalotte Hedevig Ericius breve, sakset fra tidsskriftet “NEUE ERWEITERUNGEN DER ERKENNTNISS UND VERGNÜGENS” . Samling 6, bind III.
                BRIEFE AUS NORWEGEN VON EINEM DAHIN REISENDE FRAUN ZIMMER.
            </p><p> Samt Oeders breve til Thomas Bugge, afskrevet fra Sütterlin takket være mine svigerforældre, Lenore og Klaus Schürenberg og Ehrenamtliche Sütterlinerstube zum Hospital Heiligen Geist Hamburg.</p>
            <hr />
            <p>
                Jeg har lavet et slægtstræ, der starter med Nicolai Gottfried Oeder som det første led i vores slægt, men jeg håber nogen ligger inde med bevis for at G.C. Oeder også høre til.
                Mange har henvendt sig for at få deres familie tilføjet, så hvis du har tid, så skriv gerne til mig. Så selvom vi måske  ikke har G.C. oeder tilfælles, er vi alle tiptip……oldebørn til Nicolai Gottfried Oeder.
            </p>
            <hr />
            <p>

                MVH
                STIG
            </p>
        </div>
    </div>
    </div>


    <footer>
        

    </footer>
</body>
</html>
